<!doctype html>
{% load static %}
<title>{% block title %}Welcome{% endblock %} | MiniTwit</title>
<link type=text/css href="/static/style.css">
<div class=page>
  <h1>MiniTwit</h1>
  <div class=navigation>
  {% if user.is_authenticated %}
    <a href="/{{user.username}}">my timeline</a> |
    <a href="/public">public timeline</a> |
    <a href="/logout">sign out [{{ user.username }}]</a>
  {% else %}
    <a href="/public">public timeline</a> |
    <a href="/register">sign up</a> |
    <a href="/login">sign in</a>
  {% endif %}
  </div>
  <div class=body>
  {% block body %}{% endblock %}
  </div>
  <div class=footer>
    MiniTwit &mdash; A Django Application
  </div>
</div>
