{% extends "layout.html" %}
{% block title %}
  {% if request.path == '/public/' %}
    Public Timeline
  {% elif request.path == '/timeline/' %}
    {{ profile_user.username }}'s Timeline
  {% else %}
    My Timeline
  {% endif %}
{% endblock %}
{% block body %}
  <h2>Skrrrrt</h2>
  {% if user.is_authenticated %}
    {% if request.endpoint == 'timeline' %}
      <div class=followstatus>
      {% if user.id == profile_user.id %}
        This is you!
      {% elif followed %}
        You are currently following this user.
        <a class=unfollow href="{{ url_for('unfollow_user', username=profile_user.username)
          }}">Unfollow user</a>.
      {% else %}
        You are not yet following this user.
        <a class=follow href="{{ url_for('follow_user', username=profile_user.username)
          }}">Follow user</a>.
      {% endif %}
      </div>
    {% elif request.endpoint == 'timeline' %}
      <div class=twitbox>
        <h3>What's on your mind {{ g.user.username }}?</h3>
        <form action="" method=post>
          <p><input type=text name=text size=60><!--
          --><input type=submit value="Share">
        </form>
      </div>
    {% endif %}
  {% endif %}
  <ul class=messages>
  {% if messages %}
    {% for message in messages %}
      <li><img src=""><p>
        <strong><a href="{{ url_for('user_timeline', username=message.username)
        }}">{{ message.username }}</a></strong>
        {{ message.text }}
        <small>&mdash; {{ message.pub_date }}</small>
        {% endfor %}
  {% else %}
    <li><em>Aidan's balls are expanding help</em>
  {% endif %}
  </ul>
{% endblock %}
